{% extends '::base.html.twig' %}

{% block meta_title event.title %}
{% block body_class 'event' %}

{% block body %}
{% spaceless %}
    <div class="container">
        {% if event.download %}
            <a href="{{ path('event_zip', { name: event.name }) }}" title="Télécharger {{ event.download.name }}" class="button button-outline right">
                📥 Télécharger les photos
            </a>
        {% endif %}

        <a href="{{ path('events') }}" title="Retour à la liste" class="button button-clear right">
            &#8592; Retour
        </a>

        <h2 class="title">
            {{ event.title }}
            <small>{{ event.date|date('d/m/Y') }}</small>
        </h2>

        <div class="photos">
        {% for photo in event.photos %}
            <a href="{{ path('source', { event: event.name, photo: photo.name }) }}" class="photo" target="_blank">
                <img
                    alt="{{ photo.name }}"
                    title="{{ photo.name }}"
                    src="{{ path('full', { event: event.name, photo: photo.name }) }}"
                    width="{{ presets.full.w }}"
                    height="{{ presets.full.h }}"
                />
            </a>
        {% endfor %}
        {% for video in event.videos %}
            <video controls src="{{ path('video', { event: event.name, video: video.name }) }}" />
        {% endfor %}
        </div>
    </div>
{% endspaceless %}
{%- endblock -%}
